/*  TABLET  */


@media screen and (min-width: 426px) {
    
    

    article img {
        height: 200px!important;
    }
}


/*  DESKTOP  */
@media screen and (min-width: 769px) {
    .indexImg img {
        height: 200px!important;
    }

    .productImg img {
        height: auto!important;
    }
}
