/*  TABLET  */
@media screen and (min-width: 426px) {
    
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    
    

    img {
        width: 50%;
        margin-bottom: 3rem;
    }
}


/*  DESKTOP  */
@media screen and (min-width: 769px) {
    
}