header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    padding: 1rem;
    text-decoration: none;
    color: black;
}

header nav a:hover {
    color:chocolate;
    cursor: pointer;
}

#collection {
    padding: 1rem;
}

#collection h2 {
    margin-bottom: 1rem;
}

.card {
    width: 100%;
    margin-bottom: 1rem;
}

img {
    width: 100%;
}

card-body h2{
    text-align: center;
}
footer {
    text-align: center;
}



/**
/  Page product.html
/**/
#teddy {
    margin: 1rem;
}

#colors-container {
    display: flex;
    flex-direction: row;

}

#colors-container div {
    margin-right: 1rem;
}


.messageSuccess {
    border: 1px solid green;
    background-color: chartreuse;
    color: black;
    padding: 1rem;
}




/**
/  Page cart.html
/**/

#cartContainer, #payment {
    padding: 1rem;
}

#item-list  li  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 1rem;
    margin-right: 2rem;
    padding: 1rem;
    border: 1px solid lightgray;
    list-style-type: none;
}

#item-list  li img {
    height: 100%;
    width: auto;
    border-right: 2px solid lightgray;
}

#item-list  li span {
    height: 100%;
    border: 1px solid lightgreen;
}

form {
    padding: 1rem;
}

form input {
    margin-bottom: 1rem;;
}

