/**
/  Page index.html
/**/

 header{
     margin-bottom: 1rem;
 }

 
footer {
    
    width: 100%;
    padding: 1rem;
    background-color: lightskyblue;
    border-top: 2px solid black;
    font-weight: bold;

}

#collection {
    padding: 1rem;
}

#collection h2 {
    margin-bottom: 1rem;
}

.card {
    width: 100%;
    margin-bottom: 1rem;
}

img {
    width: 100%;
}

card-body h2{
    text-align: center;
}
footer {
    text-align: center;
}



/**
/  Page product.html
/**/
#teddy {
    margin: 1rem;
}

#colors-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

#colors-container div {
    margin-right: 1rem;
}


.messageSuccess {
    border: 1px solid green;
    background-color: chartreuse;
    color: black;
    padding: 1rem;
}

article {
    margin-bottom: 4rem;
}


/**
/  Page cart.html
/**/

li {list-style-type: none;}
/*
#cartContainer, #payment {
    padding: 1rem;
}

#item-list  li  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 1rem;
    margin-right: 2rem;
    padding: 1rem;
    border: 1px solid lightgray;
    list-style-type: none;
}

#item-list  li img {
    height: 100%;
    width: auto;
    border-right: 2px solid lightgray;
}

#item-list  li span {
    height: 100%;
    border: 1px solid lightgreen;
}

form {
    padding: 1rem;
}

form input {
    margin-bottom: 1rem;;
}
*/
/**
/  Page confirmation.html
/**/